
@{
    ViewBag.Title = "NhanVien";
    List<NhanVienView> listResults = ViewBag.listTemp;
}
<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Quản lý nhân viên</h1>
                </div>

                <div class="col-auto">
                    
                </div><!--//col-auto-->
            </div><!--//row-->



            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Mã nhân viên</th>
                                            <th class="cell">Tên nhân viên</th>
                                            <th class="cell">Ngày Sinh</th>
                                            <th class="cell">Số Điện Thoại</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listResults)
                                        {
                                            <tr>
                                                <td class="cell">@item.MaNV</td>
                                                <td class="cell"><span class="truncate">@item.TenNV</span></td>
                                                <td class="cell">@item.NV_NgaySinh</td>
                                                <td class="cell">@item.NV_SoDienThoai</td>
                                                <td class="cell">
                                                    <!--<a class="btn btn-secondary" href="#"><i class="fas fa-eye"></i> Xem</a>*-->
                                                    <a class="btn btn-warning" style="color: white;" data-bs-toggle="modal" data-bs-target="#EditModal" onclick="GetIDUpdate(@item.MaNV)"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                                    <a class="btn btn-danger" style="color: white;" data-bs-toggle="modal" data-bs-target="#DeleteModal" id="deleteButton" onclick="GetIDDelete(@item.MaNV)"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                </td>
                                            </tr>
}

                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->

                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav><!--//app-pagination-->
                </div><!--//tab-pane-->
            </div><!--//tab-content-->

        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Modal Add -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i> Thêm nhân viên</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Tên nhân viên</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenNhanVien" placeholder="Nhập tên nhân viên..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày sinh</label>
                                    <input class="form-control" type="datetime-local" id="intputNgaySinh" name="intputNgaySinh" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số Điện Thoại</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputsdt" placeholder="Nhập sdt..." required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn app-btn-primary" onclick="return Add()" value="Thêm" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pen"></i> Sửa nhân viên</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã nhân viên</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputMaNhanVienEdit" required readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên nhân viên</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputTenNhanVienEdit" required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày sinh</label>
                                    <input class="form-control" type="datetime-local" id="intputNgaySinh_Edit" name="intputNgaySinh_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số Điện Thoại</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputsdtEdit" required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btnUpdate" class="btn btn-warning" style="color: white;" onclick="Update()">Sửa</button>
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa nhân viên mã <span id="maNhanVienDeleteModal" style="font-weight: 500;"></span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete()" style="color: white;">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function Add() {
            var tenNhanVien = $('#inputTenNhanVien').val();
            var ngaysinh = $('#intputNgaySinh').val();
            var sdt = $('#inputsdt').val();

            if (tenNhanVien == '' || sdt == '') {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                var objNhanVien = {
                    TenNV: tenNhanVien,
                    NV_NgaySinh: ngaysinh,
                    NV_SoDienThoai: sdt,
                };
                $.ajax({
                    url: "/NhanVien/Create",
                    data: JSON.stringify(objNhanVien),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#AddModal').modal('hide');
                        swal({
                            title: "Thêm thành công!",
                            icon: "success",
                            timer: 2000
                        })
                        window.setTimeout(function () { location.reload() }, 2000)
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }
        }

        function Update() {
            var _maNhanVien = $('#inputMaNhanVienEdit').val();
            var tenNhanVien = $('#inputTenNhanVienEdit').val();
            var ngaysinh = $('#intputNgaySinh_Edit').val();
            var sdt = $('#inputsdtEdit').val();

            if (tenNhanVien == '') {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                var objNhanVien = {
                    MaNV: _maNhanVien, TenNV: tenNhanVien, NV_NgaySinh: ngaysinh, NV_SoDienThoai: sdt,
                };
                $.ajax({
                    url: "/NhanVien/Update",
                    data: JSON.stringify(objNhanVien),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#EditModal').modal('hide');
                        swal({
                            title: "Sửa thành công nhân viên mã " + _maNhanVien + "!",
                            icon: "success",
                            timer: 2500
                        })
                        window.setTimeout(function () { location.reload() }, 2500)
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }
        }

        //Truyền data id vào modal
        function GetIDUpdate(MaNV) {
            $('#inputMaNhanVienEdit').val(MaNV);
            var _maNhanVien = MaNV;

            $.ajax({
                url: "/NhanVien/GetOneNhanVien?MaNV=" + _maNhanVien,
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#inputTenNhanVienEdit').val(result[0].TenNV);
                    $('#intputNgaySinh_Edit').val(Day(result[0].NV_NgaySinh));
                    $('#inputsdtEdit').val(result[0].NV_SoDienThoai);
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }

        function GetIDDelete(MaNV) {
            $('#maNhanVienDeleteModal').html(MaNV);
        }

        function Delete() {
            var _maNhanVien = $('#maNhanVienDeleteModal').html();

            console.log(MaNV);

            var postData = {
                maNhanVien: _maNhanVien
            };

            $.ajax({
                url: "/NhanVien/Delete",
                data: JSON.stringify(postData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#DeleteModal').modal('hide');
                    swal({
                        title: "Xóa thành công nhân viên mã " + _maNhanVien + "!",
                        icon: "success",
                        timer: 2500
                    })
                    window.setTimeout(function () { location.reload() }, 2500)
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function Day(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth() + 1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = year + "-" + month + "-" + day;

            return finalDate;
        }
    </script>

</div>

