
@{
    ViewBag.Title = "Doan";
    List<DoanView> listResults = ViewBag.listTemp;
}
<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Quản lý đoàn</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div><!--//col-->
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-success" style="color: white;" data-bs-toggle="modal" data-bs-target="#AddModal" onclick="LoadInfoModalAdd()"><i class="fas fa-plus"></i> Thêm mới</a>

                            </div>
                        </div><!--//row-->
                    </div><!--//table-utilities-->
                </div><!--//col-auto-->
            </div><!--//row-->



            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Mã đoàn</th>
                                            <th class="cell">Tên đoàn</th>
                                            <th class="cell">Tên tour</th>
                                            <th class="cell">Tên HDV</th>
                                            <th class="cell">Thời gian bắt đầu</th>
                                            <th class="cell">Thời gian kết thúc</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listResults)
                                        {
                                            <tr>
                                                <td class="cell">@item.MaDOANDL</td>
                                                <td class="cell"><span class="truncate">@item.TenDoan</span></td>
                                                <td class="cell">@item.TenTour</td>
                                                <td class="cell">@item.TenNV</td>
                                                <td class="cell"><span>@item.NgayKhoiHanh</span></td>
                                                <td class="cell"><span>@item.NgayKetThuc</span></td>
                                                <td class="cell">
                                                    <a class="btn btn-info" style="color: white;" id="xemChiTietButton" onclick="GetIDDoanChiTiet(@item.MaDOANDL)"><i class="fas fa-eye"></i> Xem chi tiết</a>
                                                    <a class="btn btn-warning" style="color: white;" data-bs-toggle="modal" data-bs-target="#EditModal" onclick="GetIDUpdate(@item.MaDOANDL)"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger" style="color: white;" data-bs-toggle="modal" data-bs-target="#DeleteModal" id="deleteButton" onclick="GetIDDelete(@item.MaDOANDL)"><i class="fas fa-trash-alt"></i></a>

                                                </td>
                                            </tr>
}

                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->

                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav><!--//app-pagination-->

                </div><!--//tab-pane-->


            </div><!--//tab-content-->



        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Modal Add -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i> Thêm đoàn du lịch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="txtTenDoan" placeholder="Nhập tên gọi đoàn..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tour</label>
                                    <select class="form-select" aria-label="Default select example" id="cbbTour" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn tour --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">HDV</label>
                                    <select class="form-select" aria-label="Default select example" id="cbbHDV" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn HDV --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau" name="inputThoiGianBatDau" style="border-color: #6e6e6f;" required >
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc" name="inputThoiGianKetThuc" style="border-color: #6e6e6f;" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn app-btn-primary" onclick="return Add()" value="Thêm" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pencil-alt"></i> Sửa đoàn du lịch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã số đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="txtMaDoan_Edit" placeholder="Nhập mã số đoàn..." required readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên gọi đoàn</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="txtTenDoan_Edit" placeholder="Nhập tên gọi đoàn..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tour</label>
                                    <select class="form-select" aria-label="Default select example" id="cbbTour_Edit" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn tour --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">HDV</label>
                                    <select class="form-select" aria-label="Default select example" id="cbbHDV_Edit" style="border-color: #6e6e6f;">
                                        <option value="0" selected>-- Chọn HDV --</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian bắt đầu</label>
                                    <input class="form-control" type="date" id="inputThoiGianBatDau_Edit" name="inputThoiGianBatDau_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thời gian kết thúc</label>
                                    <input class="form-control" type="date" id="inputThoiGianKetThuc_Edit" name="inputThoiGianKetThuc_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnUpdate" class="btn btn-warning" onclick="return Update()" value="Sửa" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa đoàn mã <span id="maSoDoanDeleteModal" style="font-weight: 500;"></span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete()" style="color: white;">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function LoadInfoModalAdd()
        {
            //load tour
            document.getElementById('cbbTour').options.length = 0; //clear dropdown
            $('#cbbTour').append($('<option>', {
                value: 0,
                text: "-- Chọn loại Tour--"
            }));

            $.ajax({
                url: "/Tour/GetAllTour",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#cbbTour').append($('<option>', {
                            value: result[index].MaTour,
                            text: result[index].TenTour
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            //load hdv
            document.getElementById('cbbHDV').options.length = 0; //clear dropdown

            $('#cbbHDV').append($('<option>', {
                value: 0,
                text: "-- Chọn HDV --"
            }));

            $.ajax({
                url: "/NhanVien/GetAllNV",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#cbbHDV').append($('<option>', {
                            value: result[index].MaNV,
                            text: result[index].TenNV
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function LoadInfoModalUpdate() {

            //Load loại hình du lịch
            document.getElementById('cbbTour_Edit').options.length = 0; //clear dropdown

            $('#cbbTour_Edit').append($('<option>', {
                value: 0,
                text: "-- Chọn Tour --"
            }));

            $.ajax({
                url: "/Tour/GetAllTour",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#cbbTour_Edit').append($('<option>', {
                            value: result[index].MaTour,
                            text: result[index].TenTour
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

            //Load địa điểm
            document.getElementById('cbbHDV_Edit').options.length = 0; //clear dropdown

            $('#cbbHDV_Edit').append($('<option>', {
                value: 0,
                text: "-- Chọn HDV --"
            }));

            $.ajax({
                url: "/NhanVien/GetAllNV",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index) {
                        $('#cbbHDV_Edit').append($('<option>', {
                            value: result[index].MaNV,
                            text: result[index].TenNV
                        }));
                    })
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function Add() {
            var TenDoan = $('#txtTenDoan').val();
            var MaTour = $('#cbbTour').val();
            var MaNV = $('#cbbHDV').val();
            var NgayKhoiHanh = $('#inputThoiGianBatDau').val();
            var NgayKetThuc = $('#inputThoiGianKetThuc').val();

            if (TenDoan == '')
            {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                //Thêm tour
                var objDoan = {
                    TenDoan: TenDoan,
                    MaTour: MaTour,
                    MaNV: MaNV,
                    NgayKhoiHanh: NgayKhoiHanh,
                    NgayKetThuc: NgayKetThuc,
                    Soluong: null,
                };

                $.ajax({
                    url: "/Doan/Create",
                    data: JSON.stringify(objDoan),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#AddModal').modal('hide');
                        swal({
                            title: "Thêm thành công!",
                            icon: "success",
                            timer: 2000
                        })
                        window.setTimeout(function () { location.reload() }, 2000)
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }

        }


        function Update() {
            var MaDOANDL = $('#txtMaDoan_Edit').val();
            var TenDoan = $('#txtTenDoan_Edit').val();
            var MaTour = $('#cbbTour_Edit').val();
            var MaNV = $('#cbbHDV_Edit').val();
            var NgayKhoiHanh = $('#inputThoiGianBatDau_Edit').val();
            var NgayKetThuc = $('#inputThoiGianKetThuc_Edit').val();
            if (TenDoan == '') {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            }  else {

                //Sửa tour
                var objDoan = {
                    MaDOANDL: MaDOANDL,
                    TenDoan: TenDoan,
                    MaTour: MaTour,
                    MaNV: MaNV,
                    NgayKhoiHanh: NgayKhoiHanh,
                    NgayKetThuc: NgayKetThuc,
                };
                $.ajax({
                    url: "/Doan/Update",
                    data: JSON.stringify(objDoan),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#EditModal').modal('hide');
                        swal({
                            title: "Sửa thành công!",
                            icon: "success",
                            timer: 2000
                        })
                        window.setTimeout(function () { location.reload() }, 2000)
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }
        }


        function GetIDUpdate(MaDOANDL) {
            LoadInfoModalUpdate();
            $('#txtMaDoan_Edit').val(MaDOANDL);
            var _maSoTour = MaDOANDL;

            $.ajax({
                url: "/Doan/GetOneDoan?MaDOANDL=" + _maSoTour,
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#txtTenDoan_Edit').val(result[0].TenDoan);
                    $('#cbbTour_Edit').val(result[0].MaTour);
                    $('#cbbHDV_Edit').val(result[0].MaNV);
                    $('#inputThoiGianBatDau_Edit').val(result[0].NgayKhoiHanh);
                    $('#inputThoiGianKetThuc_Edit').val(result[0].NgayKetThuc);

                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }

        function GetIDDelete(MaDOANDL) {
            $('#maSoDoanDeleteModal').html(MaDOANDL);
        }

        function Delete() {
            var _maSoTour = $('#maSoDoanDeleteModal').html();

            var postData = {
                MaDOANDL: _maSoTour
            };

            $.ajax({
                url: "/Doan/Delete",
                data: JSON.stringify(postData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#DeleteModal').modal('hide');
                    swal({
                        title: "Xóa thành công tour mã " + _maSoTour + "!",
                        icon: "success",
                        timer: 2500
                    })
                    window.setTimeout(function () { location.reload() }, 2500)
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }


    </script>

</div><!--//app-wrapper-->
