
@{
    ViewBag.Title = "KhachHang";
    List<KhachHangView> listResults = ViewBag.listTemp;
}

<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Quản lý khách hàng</h1>
                </div>
                <div class="col-auto">
                    
                </div><!--//col-auto-->
            </div><!--//row-->



            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Mã khách hàng</th>
                                            <th class="cell">Tên khách hàng</th>
                                            <th class="cell">Ngày Sinh</th>
                                            <th class="cell">Địa chỉ</th>
                                            <th class="cell">Giới tính</th>
                                            <th class="cell">CMND</th>
                                            <th class="cell">Email</th>
                                            <th class="cell">SDT</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listResults)
                                        {
                                            <tr>
                                                <td class="cell">@item.MaKH</td>
                                                <td class="cell"><span class="truncate">@item.TenKH</span></td>
                                                <td class="cell">@item.KH_NgaySinh</td>
                                                <td class="cell">@item.KH_DiaChi</td>
                                                <td class="cell">@item.KH_GioiTinh</td>
                                                <td class="cell">@item.KH_CMND</td>
                                                <td class="cell">@item.KH_email</td>
                                                <td class="cell">@item.KH_SoDienThoai</td>
                                                <td class="cell">
                                                    <a class="btn btn-warning" style="color: white;" data-bs-toggle="modal" data-bs-target="#EditModal" onclick="GetIDUpdate(@item.MaKH)"><i class="fas fa-pencil-alt"></i> Sửa</a>
                                                    <a class="btn btn-danger" style="color: white;" data-bs-toggle="modal" data-bs-target="#DeleteModal" id="deleteButton" onclick="GetIDDelete(@item.MaKH)"><i class="fas fa-trash-alt"></i> Xóa</a>
                                                </td>
                                            </tr>
}

                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->

                        </div><!--//app-card-body-->
                    </div><!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav><!--//app-pagination-->

                </div><!--//tab-pane-->


            </div><!--//tab-content-->



        </div><!--//container-fluid-->
    </div><!--//app-content-->
    <!-- Modal Add -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i> Thêm khách hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Họ tên khách hàng</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputHoTen" placeholder="Nhập họ tên khách hàng..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày sinh</label>
                                    <input class="form-control" type="datetime-local" id="intputNgaySinh" name="intputNgaySinh" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số chứng minh nhân dân</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputCMND" placeholder="Nhập chứng minh nhân dân..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputDiaChi" placeholder="Nhập địa chỉ..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Giới tính</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inputRadioGioiTinh" id="flexRadioDefault1" value="Nam" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Nam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inputRadioGioiTinh" id="flexRadioDefault2" value="Nữ">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Nữ
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputSDT" placeholder="Nhập số điện thoại..." required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputEmail" placeholder="Nhập email..." required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn app-btn-primary" onclick="return Add()" value="Thêm" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pen"></i> Sửa khách hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                        <div class="settings-form">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Mã khách hàng</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputMaKhachHangEdit" required readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Họ tên khách hàng</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputHoTenEdit" required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày sinh</label>
                                    <input class="form-control" type="datetime-local" id="intputNgaySinh_Edit" name="intputNgaySinh_Edit" style="border-color: #6e6e6f;" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số chứng minh nhân dân</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputCMNDEdit" required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputDiaChiEdit" required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Giới tính</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inputRadioGioiTinhEdit" id="flexRadioDefault1" value="Nam" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Nam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inputRadioGioiTinhEdit" id="flexRadioDefault2" value="Nữ">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Nữ
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputSDTEdit" required />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" style="border-color: #6e6e6f;" id="inputemailEdit" required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="btnAdd" class="btn btn-warning" onclick="return Update()" value="Sửa" style="color: white;float:left;" />
                                <button class="btn btn-secondary" data-bs-dismiss="modal" style="color: white;">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa khách hàng mã <span id="maKhachHangDeleteModal" style="font-weight: 500;"></span> không?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete()" style="color: white;">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function Day(inputDate) {
            var str, year, month, day, d, finalDate;

            str = inputDate.replace(/\D/g, "");
            d = new Date(parseInt(str));

            year = d.getFullYear();
            month = d.getMonth() + 1;
            day = d.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }

            finalDate = year + "-" + month + "-" + day;

            return finalDate;
        }
        function Add() {
            var _tenKhachHang = $('#inputHoTen').val();
            var _soCMND = $('#inputCMND').val();
            var _diaChi = $('#inputDiaChi').val();
            var _gioiTinh = $("input[name='inputRadioGioiTinh']:checked").val();
            var _SDT = $('#inputSDT').val();
            var _quocTich = $('#inputEmail').val();
            var _ngaysinh = $('#intputNgaySinh').val();

            if (_tenKhachHang == '' || _soCMND == '' || _diaChi == '' || _SDT == '' || _quocTich == '') {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                var objKhachHang = {
                    TenKH: _tenKhachHang,
                    KH_CMND: _soCMND,
                    KH_DiaChi: _diaChi,
                    KH_GioiTinh: _gioiTinh,
                    KH_SoDienThoai: _SDT,
                    KH_email: _quocTich,
                    KH_NgaySinh: _ngaysinh
                };
                console.log(objKhachHang); //test
                $.ajax({
                    url: "/KhachHang/Create",
                    data: JSON.stringify(objKhachHang),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#AddModal').modal('hide');
                        swal({
                            title: "Thêm thành công!",
                            icon: "success",
                            timer: 2000
                        })
                        window.setTimeout(function () { location.reload() }, 2000)
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }
        }

        function Update() {
            var _maKhachHang = $('#inputMaKhachHangEdit').val();
            var _tenKhachHang = $('#inputHoTenEdit').val();
            var _soCMND = $('#inputCMNDEdit').val();
            var _diaChi = $('#inputDiaChiEdit').val();
            var _gioiTinh = $('input[name="inputRadioGioiTinhEdit"]:checked').val();
            var _SDT = $('#inputSDTEdit').val();
            var _quocTich = $('#inputemailEdit').val();
            var _ngaysinh = $('#intputNgaySinh_Edit').val();

            if (_tenKhachHang == '' || _soCMND == '' || _diaChi == '' || _SDT == '' || _quocTich == '') {
                swal({
                    title: "Không được để trống!",
                    text: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "warning",
                    button: "Đóng",
                });
            } else {
                var objKhachHang = {
                    MaKH: _maKhachHang,
                    TenKH: _tenKhachHang,
                    KH_CMND: _soCMND,
                    KH_DiaChi: _diaChi,
                    KH_GioiTinh: _gioiTinh,
                    KH_SoDienThoai: _SDT,
                    KH_email: _quocTich, KH_NgaySinh: _ngaysinh
                };
                $.ajax({
                    url: "/KhachHang/Update",
                    data: JSON.stringify(objKhachHang),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#EditModal').modal('hide');
                        swal({
                            title: "Sửa thành công khách hàng mã " + _maKhachHang + "!",
                            icon: "success",
                            timer: 2500
                        })
                        window.setTimeout(function () { location.reload() }, 2500)
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }
        }

        //Truyền data id vào modal
        function GetIDUpdate(MaKH) {
            $('#inputMaKhachHangEdit').val(MaKH);
            var _maKhachHang = MaKH;

            $.ajax({
                url: "/KhachHang/GetOneKhachHang?MaKH=" + _maKhachHang,
                type: "GET",
                contentType: "application/json; charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#inputHoTenEdit').val(result[0].TenKH);
                    $('#inputDiaChiEdit').val(result[0].KH_DiaChi);
                    $('#inputSDTEdit').val(result[0].KH_SoDienThoai);
                    $('input[name="inputRadioGioiTinhEdit"]').filter('[value=' + result[0].KH_GioiTinh + ']').prop('checked', true);
                    $('#inputemailEdit').val(result[0].KH_email);
                    $('#inputCMNDEdit').val(result[0].KH_CMND);
                    $('#intputNgaySinh_Edit').val(Day(result[0].KH_NgaySinh));

                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }

        function GetIDDelete(MaKH) {
            $('#maKhachHangDeleteModal').html(MaKH);
        }

        function Delete() {
            var _maKhachHang = $('#maKhachHangDeleteModal').html();

            console.log(_maKhachHang); //test

            var postData = {
                MaKH: _maKhachHang
            };

            $.ajax({
                url: "/KhachHang/Delete",
                data: JSON.stringify(postData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#DeleteModal').modal('hide');
                    swal({
                        title: "Xóa thành công khách hàng mã " + _maKhachHang + "!",
                        icon: "success",
                        timer: 2500
                    })
                    window.setTimeout(function () { location.reload() }, 2500)
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        }


    </script>

</div>

